:host {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

[role="dialog"] {
  background-color: #f9f9f9;
  width: 50%;
  max-height: 70%;
  padding: 0.5em;
  z-index: 2;
}
