/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import '~sakura.css';

body {
  display: flex;
  flex-direction: column;
}

header, main {
  padding: 0.25rem;
}

hr {
  width: 100%;
}

textarea, input {
  max-width: 100%;
  min-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5rem;
}
