/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import '~sakura.css';

body {
  display: flex;
  flex-direction: column;
}

header, main {
  padding: 0.25rem;
}

hr {
  width: 100%;
}

textarea {
  max-width: 100%;
  min-width: 100%;
}
